<style>

	#gravidez-wrapper,#gravidez-image{
		display:block;
		position:relative;
	}

	#gravidez-wrapper{
		float:left;
		width: 75%;
		height:100%;
		text-align: left;

	}


	#gravidez-image{
        width: 25%;
        height:98%;
		float:right;
		background-image: url(imgs/aba_gravidez.png); 
	}

	.gravidez-sections-wrapper{
		height: 79%;
		width: 100%;
	}

	.gravidez-figure-wrapper{
		height: 18%;
		width: 100%;
		margin:0;
	}


	.gravidez-section{
		margin-left: 4%;
		width: 90%;
	}
	

	.gravidez-subtitle{
		color:rgb(95,57,20);
		margin-bottom: 1%;
	}

	@media print{
		.gravidez-subtitle{
			font-size: 3vh;
		}	
	}



	.gravidez-text-wrapper{
		background-color: rgb(252,251,223);
        padding: 3.1%;
        max-height: 90px;
        overflow-y:auto;
	}

	@media print{
		.gravidez-text-wrapper{
			max-height: 14vh;
		}
	}

	.gravidez-text{
		margin:0;
		font-size: 1em;
	}

	@media print{
		.gravidez-text{
			font-size:2.5vh;
		}
	}

</style>

<div id="gravidez-wrapper" ui-view></div>

<figure id="gravidez-image" class="background-center"></figure>
