<style>

.cantinho-wrapper{
	height: 100%;
	width: 100%;
}

#cantinho-pictures-container{
	height: 70%;
	margin-top:10%;
}

.cantinho-big-picture,.cantinho-picture{

	background-color: white;
	display: block;
	float:left;
}

.cantinho-big-picture{
	margin-left: 0;
	width: 65%;
	height: 72%;

}

.cantinho-picture{
	margin: 1%;
	width: 30%;
	height: 30%;

}

</style>

<figure class="gravidez-figure-wrapper"></figure>

<div class="gravidez-sections-wrapper">
	
	<section class="gravidez-section cantinho-wrapper">
		<h3 class="gravidez-subtitle">E esse foi o cantinho que preparamos 
		</br> para você, com todo carinho</h3>
		<div id="cantinho-pictures-container">
			<figure class="background-center cantinho-big-picture" ng-click="openModal($event)"></figure>
			<figure class="background-center cantinho-picture" ng-click="openModal($event)"></figure> 
			<figure class="background-center cantinho-picture" ng-click="openModal($event)"></figure>
		</div>

		
	</section>


</div>